@model IEnumerable<ReadablePostModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
        <div class="col-md-8 blog-main">
@foreach (var post in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@post.Title</h2>
        <p class="blog-post-meta">@post.CreationDate</p>
        <p>@post.Text</p>
        @Html.ActionLink("See the full post", "Details", new { id = post.Id })
    </div>
}
        </div>
</div>